{% extends "hostel2/base.html" %}
 {% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'hostel2/style.css'%}">

 {% endblock head %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-sticky navbar-dark mb-3" style="background:#062d4d; border-radius: 0.8em; top: 0.6vh; left: 0.6vw;
    z-index: 100; ">
        <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color:white;">
            <span class="navbar-toggler-icon" style="color:white;"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home_page' %}">Home</a>
                </li>
                <li id="dropdown2" class="nav-item dropdown2 ">
                    <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link" href="{% url 'legend' %}">Legends</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="https://gymkhana.iitb.ac.in/~hostel2/certificate.php">E-Certificates</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'contactus' %}">Council</a>
                </li>
            </ul>
        </div>
    </nav>

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
  showSlides(slideIndex += n);
  }

  function currentSlide(n) {
  showSlides(slideIndex = n);
  location.href="contactus.html";
  }

  function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  var dots2 = document.getElementsByClassName("dot2");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
      dots2[i].className = dots2[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  dots2[slideIndex-1].className += " active";
  }
  </script>

{%  endblock body %}