{% extends "hostel2/base.html" %}
 {% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'hostel2/legend.css'%}">

 {% endblock head %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-sticky navbar-dark mb-3" style="background:#062d4d; border-radius: 0.8em; top: 0.6vh; left: 0.6vw;
    z-index: 100; ">
        <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color:white;">
            <span class="navbar-toggler-icon" style="color:white;"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home_page' %}">Home</a>
                </li>
                <li id="dropdown2" class="nav-item dropdown2 ">
                    <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link" href="{% url 'legend' %}">Legends</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="https://gymkhana.iitb.ac.in/~hostel2/certificate.php">E-Certificates</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'contactus' %}">Council</a>
                </li>
            </ul>
        </div>
    </nav>



  <div>
    <h1 id="head"> Legends </h1>
    <h4 id="subhead">We feel like we have to put on for our city , because we have so many legends and so many greats.
      </h3>


      {% for category in all_categorys %}
      <p class="button mx-auto streched-link" id={{category.id}} onclick="overlayClicked(this.id)">{{category}}</p><br>



      <div class={{category.id}} id={{category.id}} onclick="off(this.id)">
        <div class="expanded">
          <table class="table table-hover ">
            <tr class="f">
              <th>Name</th>
              <th>Year</th>
            </tr>
           {% for legend in all_legends %}
           {% if legend.type == category %}
            <tr>
              <td>{{ legend.name }}</td>
              <td>{{ legend.type }}</td>
            </tr>

           {% endif %}
           {% endfor %}
          </table>
            </div>
      </div>


      {% endfor %}


  </div>


  <!--- Footer -->
  <div class="footer">
  <footer>
    <p style="text-align: center; font-weight: bolder;">&copy; 2020 <strong><em><a href="#"
            style="font-weight: bolder;">Hostel 2, IIT Bombay.
          </a></em></strong> </p>
  </footer>
</div>


  <script>
    function overlayClicked(click) {
      var x = String(click)
      console.log(x)
      document.getElementsByClassName(click)[0].style.display = "block";
      document.getElementsByClassName("footer")[0].style.display = "none"
    }

    function off(turn) {
      var x = String(turn)
      console.log(x)
      document.getElementsByClassName(turn)[0].style.display = "none";
      document.getElementsByClassName("footer")[0].style.display = "block"
    }
  </script>




{% endblock body %}